* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("department-physics.jpg")  no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;

}

.container{
    width: 60%;
    max-width: 750px;
    background: rgba(255, 255, 255, 0.205); 
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    color: black
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .input-text{
    width: 100%;
    height: 50px;
    /*Background can be added */
    margin: 30px 0;
}

.input-text input{
    width:100%;
    height:100%;
    border: none;
}

